body {
    font-family: 'Balsamiq Sans', cursive;
    background: #89CFF0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89CFF0, #3974e0);
}

#container {
    height: 550px;
    width: 360px;
    margin: 100px auto;
    background: whitesmoke;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1 {
    background: rosybrown;
    color: whitesmoke;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p{
    padding-left: 20px;
}

form input[type="text"] {
    width: 90px;
}

input {
    padding-left: 20px;
}

#billamt {
    font-size: 14px;
    color:green;
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
}

#billamt:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

#peopleamt {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    color: green;
    background-color: #f7f7f7;
    font-size: 14px;
}

.dollarSign {
    display: inline;
}

#serviceQual {
    padding: 10px 10px 15px 15px;
    margin-left: 15px;
    font-size: 15px;
    color: green;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: rosybrown;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-size: 17px;
    color: whitesmoke;
}

button:hover {
    background: #89CFF0;
    border-bottom-color: #111;
}

button:active {
    position: relative;
    top: 1px;
}

#totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

#totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#totalTip sup {
    font-size: 20px;
    top: -18px;
}

#totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
}